        <div id="main-cont" class="block content">
            <div class="container-fluid">
              <div id="profile-cont" class="jumbotron">
                <center><h2>Profile</h2></center>
                <p class="lead">I am a creative, innovative, enthusiastic developer with a strong passion for web development and data analysis. I’m an easy-going person who likes work with people and I enjoy taking new challenges and experiences that makes me expand my skills, knowledge and horizons. I have taste for the constant learning and self-constructivism in both of my personal and professional aspects.</p>
              </div>
              <div id="exp-cont" class="jumbotron">
                <center><h2>Experience</h2></center>
                <p style="font-size:1.3em;weight:bold;">AutoZone - Programmer Analyst (2015- Present)<p>
                <p class="lead"><p class="lead">Working in data analysis, web reporting and data visualization oriented to the retail area (including sales, inventory, vehicle gps tracking, payroll, among others); using Web Focus software in conjunction with known front-end technologies (such as html, js, jquery, css, d3 graphs). I am in charge of ETL process, along with detecting business reporting needs to design, develop and transforms those needs in web reporting meaningful and suitable solutions for final users; such as KPIs, dashboards, graphs, etc. </p>
        </p>
                 <ul>
                  <li>Web Focus 8,7, app studio, info assist</li>
                  <li>Report Caster</li>    
                  <li>Oracle SQL</li> 
                  <li>SAS</li>    
                  <li>HTML, JavaScript, JQuery, CSS</li>
                  <li>D3 graphs</li>
                </ul>
                <hr>
                <p style="font-size:1.3em;weight:bold;">AutoZone - Support Agent (2013- 2015)<p>
                <p class="lead">Working in IT help desk, providing technical support and user’s guidance for over five thousand stores in the company; including US, Mexico and Puerto Rico countries. </p>
                <hr>
                <p style="font-size:1.3em;weight:bold;">Freelance - Web Developer (2017)<p>
                <p class="lead">Web Developer for a Real Estate company, responsible of design, develop and deploy web dynamic catalog; determining company color scheme, logo, web page theme, setting up the database, deployment server and creating user’s credentials to make content friendly editable by final user. </p>
                <ul>
                  <li>Ruby on Rails, Image Magic, Heroku, AWS, Devise</li>
                  <li>HTML, JavaScript, JQuery, CSS, Bootstrap </li>
                  <li>PostgreSQL</li>
                </ul>
               <hr>
                <p style="font-size:1.3em;weight:bold;">Public School - Math Teacher (2007- 2015)<p>
                <p class="lead">Mathematics teacher at a middle school, in charge of the following aspects: </p>
                <ul>
                  <li>Student’s coaching.</li>
                  <li>Creation and application of monthly exams.</li>    
                  <li>Create and maintain reporting of student’s score and attendance data in excel.</li>                
                </ul>
              </div>
                  <div id="skills-cont" class="jumbotron">
              <center><h2>Skills </h2></center>
                 <ul>
                  <li><strong>Web Development:</strong> Web Focus, Ruby on Rails, Sinatra, HTML, CSS, Bootstrap, JavaScript, Python, Flask.</li>
                  <li><strong>Versioning:</strong> Git, Subversion.</li>
                  <li><strong>DB, ETL, Reporting:</strong>Web Focus, SAS: MySQL, MSSQLServer, PL/SQL , PostgreSQL, Active Record.</li>
                </ul>
            </div>
            <div id="edu-cont" class="jumbotron">
              <center><h2>Education </h2></center>
              <p style="font-size:1.3em;weight:bold;">Bachelor’s Degree in Computer Science<p>
              <p class="lead">Graduated from University of Chihuahua state in Mexico (2003-2008)</p>
            </div>
            <div id="hobbies-cont" class="jumbotron">
              <center><h2>Hobbies </h2></center>
              <p class="lead">Technology, coding, music, movies, videogames, books, drawing, graphic design, ping pong and running.</p>
            </div>
             <div id="pfolio-cont" class="jumbotron">
                <center><h2>Portfolio </h2></center>
                <div class="row pfolio-cont">
                  <div class="card-cont col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <center><div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://cdn3.iconfinder.com/data/icons/random-generic-06/100/web_app_browser_web_page_website_web_design-512.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Data Visualization</h5>
                    <p class="card-text">Data Visualization Web App</p>
                     <ul class="list-pfolio">
                      <li style="color:green;"><i class="fab fa-python " ></i> python</li>
                    </ul>   
                    <ul class="list-pfolio">
                      <li><a href="https://github.com/ricardont/data_vis" ><i class="fab fa-2x fa-github link-pfolio-git"></i></a></li>
                      <li><a href="#" class="btn ">Live Demo</a></li>
                    </ul> 
                  </div>
                </div></center>
                  </div>
                  <div class="card-cont col-xl-4 col-lg-6 col-md-6 col-sm-12">          
                    <center><div class="card " style="width: 18rem;">
                  <img class="card-img-top" src="https://cdn3.iconfinder.com/data/icons/random-generic-06/100/web_app_browser_web_page_website_web_design-512.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Micropost Blog</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <ul class="list-pfolio">
                      <li style="color:red;"><i class="fas fa-gem " ></i> ruby</li>
                    </ul>   
                    <ul class="list-pfolio">
                      <li><a href="https://github.com/ricardont/miniblog" ><i class="fab fa-2x fa-github link-pfolio-git"></i></a></li>
                      <li><a href="#" class="btn ">Live Demo</a></li>
                    </ul> 
                  </div>
                </div></center>
                  </div>
                  <div class="card-cont col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <center><div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://cdn3.iconfinder.com/data/icons/random-generic-06/100/web_app_browser_web_page_website_web_design-512.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">School Management</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <ul class="list-pfolio">
                      <li style="color:red;"><i class="fas fa-gem " ></i> ruby</li>
                    </ul>      
                    <ul class="list-pfolio">
                      <li><a href="https://github.com/ricardont/school-rails" ><i class="fab fa-2x fa-github link-pfolio-git" color="red" c></i></a></li>
                      <li><a href="#" class="btn ">Live Demo</a></li>
                    </ul>        
                  </div>
                </div></center>
                  </div>
                <div>
             </div>
             
                  <div class="card-cont col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <center><div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://cdn3.iconfinder.com/data/icons/random-generic-06/100/web_app_browser_web_page_website_web_design-512.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Real Estate Catalog</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <ul class="list-pfolio">
                      <li style="color:red;"><i class="fas fa-gem " ></i> ruby</li>
                    </ul>   
                    <ul class="list-pfolio">
                      <li><a href="https://github.com/ricardont/blog" ><i class="fab fa-2x fa-github link-pfolio-git"></i></a></li>
                      <li><a href="#" class="btn ">Live Demo</a></li>
                    </ul> 
                  </div>
                </div></center>
                  </div>
                  <div class="card-cont col-xl-6 col-lg-12 col-md-12 col-sm-12 ">
                    <center><div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://cdn3.iconfinder.com/data/icons/random-generic-06/100/web_app_browser_web_page_website_web_design-512.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Flights Search</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <ul class="list-pfolio">
                      <li style="color:red;"><i class="fas fa-gem " ></i> ruby</li>
                    </ul>      
                    <ul class="list-pfolio">
                      <li><a href="https://github.com/ricardont/booking" ><i class="fab fa-2x fa-github link-pfolio-git" color="red" c></i></a></li>
                      <li><a href="#" class="btn ">Live Demo</a></li>
                    </ul>        
                  </div>
                </div></center>
                  </div>
                <div>
             </div>     
            </div>
        </div> 