  <div id="main-cont" class="block content">
      <div class="container-fluid">      
        <% sections[1..-1].each do | section | %>
            <div id="<%= section.title.downcase  %>-cont" class="jumbotron">
                <center><h2><%= section.title %></h2></center>
                <p class="lead"><%= section.desc %></p>
            </div>
        <% end%>
      </div> 
  </div> 