<div id="sidebar-wrapper" class="block sidebar">
              <div class="profile-cont">
                <img class="profile-pic" src=" <%= profile.img.to_s %> " alt="Avatar">
                <p> <%=  profile.title   %> </p>
              </div>
              <div class="contact-links-cont">    
                  <div class="contact-links-header">
                    <% profile.sub_sections.each do | link | %>
                        <%= link %> 
                    <% end %>
                  <p >
                    <%= profile.desc %>
                  </p>
                  </div>
                  <ul id="navbar-items">
                  <li class="sidebar-brand">
                      <a href="#profile-cont">Profile</a>
                  </li>
                  <li>
                      <a href="#exp-cont">Experience</a>
                  </li>
                  <li>
                      <a href="#skills-cont">Skills</a>
                  </li>
                  <li>
                      <a href="#edu-cont">Education</a>
                  </li>
                  <li>
                      <a href="#hobbies-cont">Hobbies</a>
                  </li>
                  <li>
                      <a href="#pfolio-cont">Portfolio</a>
                  </li>
              </ul>
              </div> 
              </br>
</div>