<div id="sidebar-wrapper" class="block sidebar">
              <div class="profile-cont">
                <img class="profile-pic" src="https://pbs.twimg.com/profile_images/993214736014557184/lKqdHYlJ_400x400.jpg" alt="Avatar">
                <p>Ricardo Ontiveros</p>
              </div>
              <div class="contact-links-cont">    
                  <div class="contact-links-header">
                    <a href="https://www.linkedin.com/in/ricardoont/" ><i class="fab fa-2x fa-linkedin"></i></a>
                    <a href="https://github.com/ricardont" ><i class="fab fa-2x fa-github"></i></a>
                    <a href="https://twitter.com/RicardoOnt" ><i class="fab fa-2x fa-twitter"></i></a>
                  <p >
                    Creative and enthusiastic developer. 
                  </p>
                  </div>
                  <ul id="navbar-items">
                  <li class="sidebar-brand">
                      <a href="#profile-cont">Profile</a>
                  </li>
                  <li>
                      <a href="#exp-cont">Experience</a>
                  </li>
                  <li>
                      <a href="#skills-cont">Skills</a>
                  </li>
                  <li>
                      <a href="#edu-cont">Education</a>
                  </li>
                  <li>
                      <a href="#hobbies-cont">Hobbies</a>
                  </li>
                  <li>
                      <a href="#pfolio-cont">Portfolio</a>
                  </li>
              </ul>
              </div> 
              </br>
</div>